<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de colaboradores</h1>
    <ul>
        {% for colaborador in colaboradores %}
            <li>{{ colaborador.nome }} - {{ colaborador.matricula }} <a href="{% url 'editar_colaborador' colaborador.id %}">Editar</a> <a href="{% url 'delete' colaborador.id %}">Deletar</a></li> 
        {% endfor %}
    </ul>

    <form method="POST" action="{% url 'cadastrar_colaborador' %}">
        {% csrf_token %}
        <input type="text" name="nome" placeholder="Nome">
        <input type="text" name="cpf" placeholder="CPF">
        <input type="text" name="matricula" placeholder="Matricula">
        <button type="submit">Cadastrar</button> 
    </form>
</body>
</html>